

.section-header {
    box-sizing: border-box;
    padding-top: 1.5em;
    width: 100%;
    text-align: start;
    border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
    font-weight: 400;
    margin-bottom: 1em;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.experience-row {
    height: 10em;

}

.experience-row .col {
      display: flex;
      width: 30px;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Optional: Center text */
}

.experience-row img {
    height: 5em;
    /* background-color: antiquewhite; */
    width: auto;
}
