

.experience {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.section-header {
    box-sizing: border-box;
    padding-top: 1em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-bottom: 1px solid #000; /* Adjust color and thickness as needed */

}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.experience-row {
    margin-top: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10em;
        /* background-color: antiquewhite; */

}

.experience-row .col {
    margin-left: 2em;
    margin-right: 2em;
      display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Optional: Center text */
}

.experience-row img {
    height: 5em;
    /* background-color: antiquewhite; */
    width: auto;
}
