/* Ensure html and body fill the viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}


h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 212px;
}

/* Root React container */
#root {
  height: 100%; /* Full height for React app */
  display: flex;
  flex-direction: column;
}

/* The main app wrapper */
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to the top and bottom */
  min-height: 100vh; /* Ensure it always fills the height of the screen */
  color: white;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons with hover effects */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* 
.container-app {

  margin-left: 15%;
  margin-right: 15%;
}
 */

/* #about, #education, #experience {
    padding-top: 30px; 
} */

/* h2 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: start;
    padding: 0.5em;
    width: 60%;
    margin: 0;
    color: #495057;
    
} */

/* h3 {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    color: #495057;
} */

/* body, p {
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 25px;
} */
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  font-weight: 300; 
  font-size: 0.9em;
  /* margin: 0.4em; 
} 

.footer-container {
  margin-bottom: 1.5em;
} */
